<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Eliminar Venta | Cookie and Bread</title>
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <div class="content-wrapper" style="margin-left: 0; padding-top: 50px;">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card card-danger card-outline">
                    <div class="card-header text-center"><h3>¿Anular esta venta?</h3></div>
                    <div class="card-body text-center">
                        <i class="fas fa-exclamation-triangle fa-3x text-danger mb-3"></i>
                        <p>Vas a eliminar el ticket de <b><span th:text="${ventas.nombre}"></span></b>.</p>
                        <p>Monto total: <b>$<span th:text="${ventas.total}"></span></b></p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/ventas/eliminar/{id}(id=${ventas.id_ventas})}" class="btn btn-danger">Sí, eliminar</a>
                        <a th:href="@{/ventas}" class="btn btn-default float-right">No, cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>